@media (prefers-color-scheme: light)
    :root
        --scroll-bar-color: rgba(255,255,255 ,0.5)
        --header-red-color: #bf5d5d
        --header-top-color: #dddddd
        --text-color: #000
        --invert-color: #fff
        --main-color-backg: #ffffff6e
        --search-bar-background: #bebebe
        --footer-contrib-color: rgba(81, 81, 227, 0.8)
        --footer-color: #dcdcdc
        --btn-color: rgb(81, 81, 227)
        --btn-color-outline: rgb(121, 121, 236)
        --btn-text-color: #fff
        --card-background-color: #cccccc
        --background-game: rgb(255, 255, 255)
        --map-background: #f4f4f4
        --green-background: #62ba55
        --green-outside: #76ad56
        --red-background: #c55b5b
        --red-outside: #e17878
        --orange-background: #c5795b
        --orange-outside: #e19678
        --orange-color: #d3921a
        --red-color: #a53b3b
        --green-color: #4d9142

@media (prefers-color-scheme: dark)
    :root
        --scroll-bar-color: rgba(0,0,0 ,0.5)
        --header-red-color: #ab4747
        --header-top-color: #393939
        --text-color: #fff
        --invert-color: #000
        --main-color-backg: #0000006e
        --search-bar-background: #0e0e0e60
        --footer-contrib-color: rgba(81, 81, 227, 0.8)
        --btn-color-outline: rgb(121, 121, 236)
        --footer-color: #07030a
        --btn-color: rgb(44, 44, 150)
        --btn-text-color: rgb(230,230,230)
        --card-background-color: #1e1e1e
        --background-game: rgb(26,26,26)
        --map-background: #121212
        --green-background: #3b8031
        --green-outside: #76ad56
        --red-background: #9e4545
        --red-outside: #793838
        --orange-background: #be6733
        --orange-outside: #774426
        --orange-color: #e9ae40
        --red-color: #e45555
        --green-color: #62ba55
    