*{
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}
#menu {
    margin-top: 15vh;
    text-align: center;
    align-content: center;
}
.btn {
    background-color: rgb(81, 81, 227);
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-style: normal;
    font-size: larger;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease,
        background-color 0.3s ease;
    display: flex;              /* Aligne les éléments sur une même ligne */
  align-items: center;        /* Centre verticalement SVG + texte */
  gap: 8px;     
}

@media (prefers-color-scheme: light) {
    .btn {
        background-color: rgb(81, 81, 227);
        color: white;
    }
    html, body {
    height: 100%;
    margin: 0;
    /* Dégradé vertical fluide */
    background: linear-gradient(
      to bottom,
      #f2f2f2 0%,
      #e6e6e6 25%,
      #ffffff 50%,
      #e6e6e6 75%,
      #f2f2f2 100%
    );
    background-attachment: fixed;
    background-size: cover;
  }
   h1,h2,h3,h4,h5,p,a{
    color: rgb(0, 0, 0);
  }
  .card{
    background-color: #cccccc;
  }
}

@media (prefers-color-scheme: dark) {
    .btn {
        background-color: rgb(44, 44, 150); 
        color: rgb(230, 230, 230);
    }
    html, body {
    height: 100%;
    margin: 0;
    /* Dégradé vertical fluide */
    background: linear-gradient(
      to bottom,
      #1e1e1e 0%,
      #2a2a2a 25%,
      #333 50%,
      #2a2a2a 75%,
      #1e1e1e 100%
    );
    background-attachment: fixed;
    background-size: cover;
  }
  h1,h2,h3,h4,h5,p,a{
    color: #ffffff;
  }
  .card{
    background-color: #1e1e1e;
  }
}

body{
  overflow-x: hidden;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.quizList{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    overflow-x: auto;          
  white-space: nowrap;
    padding-left: 20px;
        scroll-behavior: smooth;
}

.title-icon {
  display: flex;              /* Aligne les éléments sur une même ligne */
  align-items: center;        /* Centre verticalement SVG + texte */
  gap: 8px;
  margin-left: 38px;
}

.title-icon svg {
  width: 1.4em;              
  height: 1.4em;
  fill: currentColor;        
  flex-shrink: 0;
}

.card{
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  white-space: normal;
  flex: 0 0 auto;
    width: 240px;
    height: 100%;
    padding-bottom: 1%;
    padding-top: 1%;
    border-radius: 10px;
    display: flex;         
  flex-direction: column;
  align-items: center;     
  justify-content: center; 
  gap: 10px;     
}
body{
    overflow-x: hidden;
}