*{
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}
#menu {
    margin-top: 50px;
    text-align: center;
    align-content: center;
}
.btn {
    background-color: rgb(81, 81, 227);
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-style: normal;
    font-size: larger;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease,
        background-color 0.3s ease;
    display: flex;              /* Aligne les éléments sur une même ligne */
  align-items: center;        /* Centre verticalement SVG + texte */
  gap: 8px;    
  cursor: pointer; 
}

@media (prefers-color-scheme: light) {
    .btn {
        background-color: rgb(81, 81, 227);
        color: white;
    }
    html, body {
    height: 100%;
    margin: 0;
    /* Dégradé vertical fluide */
    background: linear-gradient(
      to bottom,
      #f2f2f2 0%,
      #e6e6e6 25%,
      #ffffff 50%,
      #e6e6e6 75%,
      #f2f2f2 100%
    );
    background-attachment: fixed;
    background-size: cover;
  }
   h1,h2,h3,h4,h5,p,a{
    color: rgb(0, 0, 0);
  }
  .card{
    background-color: #cccccc;
  }
  footer{
    background-color: #dcdcdc;
  }
  header{
    background-color: #dddddd;
  }
  #welcomeHeader{
    background-color: rgba(81, 81, 227, 0.8);
  }
  #updateHeader{
    background-color: rgba(82, 201, 88, 0.8);
  }
  #searchField{
    background-color: #bebebe !important;
  }
  #searchInput{
    color: #000000 !important;
  }
  .headerInfo{
    background-color:#bf5d5d;
  }
  .svgErrorQuiz{
    color: #000000;
  }
}

@media (prefers-color-scheme: dark) {
    .btn {
        background-color: rgb(44, 44, 150); 
        color: rgb(230, 230, 230);
    }
    html, body {
    height: 100%;
    margin: 0;
    /* Dégradé vertical fluide */
    background: linear-gradient(
      to bottom,
      #1e1e1e 0%,
      #2a2a2a 25%,
      #333 50%,
      #2a2a2a 75%,
      #1e1e1e 100%
    );
    background-attachment: fixed;
    background-size: cover;
  }
  h1,h2,h3,h4,h5,p,a{
    color: #ffffff;
  }
  .card{
    background-color: #1e1e1e;
  }
  footer{
    background-color: #0e0e0e;
  }
  header{
    background-color: #393939;
  }
  #welcomeHeader{
    background-color: rgba(81, 81, 227, 0.8);
  }
  #updateHeader{
    background-color: rgba(82, 201, 88, 0.8);
  }
  .headerInfo{
    background-color: #ab4747;
  }
  .svgErrorQuiz{
    color: #ffffff;
  }
}

body, html{
  overflow-x: hidden;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.quizList{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  overflow-x: auto;          
  white-space: nowrap;
  padding-left: 20px;
  scroll-behavior: smooth;
  user-select: none;
  cursor: grab;
  align-items: stretch;
}
.quizList:active{
  cursor: grabbing;
}
.card:last-child {
  margin-right: 50px;
}
.title-icon {
  display: flex;              /* Aligne les éléments sur une même ligne */
  align-items: center;        /* Centre verticalement SVG + texte */
  gap: 8px;
  margin-left: 38px;
}

.title-icon svg {
  width: 1.4em;              
  height: 1.4em;
  fill: currentColor;        
  flex-shrink: 0;
}

.card {
  height: 500px;
  min-width: 240px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  white-space: normal;
  display: flex;
  flex-direction: row; 
  align-items: center; 
  padding: 1.5%;
  border-radius: 10px;
  gap: 20px; 
  flex-shrink: 0;
}

/* IMAGE A GAUCHE */
.cardImage {
  max-height: 100%;
  flex: 1;
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
}

@media (max-width: 768px) {
  .cardImage {
    display: none;
  }
  html{
    scroll-behavior: auto;
  }
  #dropzone {
    flex-direction: column !important;
  }
  #mainHeader{
      justify-content: center;
      margin-left: 0px;
      padding-left: 0px;
}
  #titleNameMetrop{
    display: none;
  }
  #searchField{
  margin-left: 0px !important;
  width: 90vw !important;
}
#searchField:hover{
  scale: 1 !important;
}
#searchField:focus-within{
  width: 90vw !important;
}
}

/* CONTENU A DROITE */
.cardContent {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  overflow-x: hidden;
  white-space: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;  
  gap: 10px;
  width: 240px;  
  height: 100%;
}
.cardContent .btn{
  width: 100%;
  justify-content: center;
}
.cardContent .top,
.cardContent .bottom {
  height: auto;
}

.cardContent .middle {
  flex-grow: 1;
  padding: 10px;
  width: 100%;
  height: 100%;
}
body{
    overflow-x: hidden;
}
img{
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#betaElement{
  display: none;
}
svg{
  fill: currentColor;
}

/* header */
header {
  margin: 0;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}
h1{
  margin-top: 1px;
  margin-bottom: 1px;
  padding-left: 5px;
  font-size:larger;
  text-align: left;
}
.headerInfo{
  position: relative !important;
  box-shadow: none;
}
#welcomeHeader{
  display: none;
}
#updateHeader{
  display: none;
}

#betaTest{
  display: none;
}

footer{
  padding-bottom: 50px;
  padding-top: 50px;
  box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.25);
  display: flex;
}
.colum{
  width: 100%;
}
.colum * {
  text-align: left;
}
.colum h3, h1, p{
  padding-left: 30px;
  padding-right: 30px;
}

#dropzone {
  margin: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  border: 2px dashed #999;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  flex-direction: row;
}

#searchResult{
  display: none;
  margin-top: 20px;
}

#searchField{
  gap: 5px;
  display: flex;
  width: 300px;
  height: 25px;
  border-radius: 3px;
  background-color: #0e0e0e60;
  align-items: center;
  transition:0.2s;

  display: none;
}
#searchField:hover{
  scale: 1.1;
}
#searchField:focus-within{
  width: calc(80% - 192px);
  margin-left: 5%;
}

#searchField svg{
  margin-left: 5px;
}

#searchInput{
  background-color: transparent;
  color: #ffffff;
  border: none;
  width: 100%;
  text-align: left;
}
#searchInput:focus{
  outline: none;
}

#mainHeader{
  display: flex; 
  align-items: center;
}