@use "../color"
// This is the file for the btn classes and ALL button
.btn
    background-color: var(--btn-color)
    border: 0
    border-radius: 5px
    padding: 5px 10px
    color: var(--btn-text-color)
    font-style: normal
    font-size: larger
    font-variation-settings: "wdth" 100, "YTLC" 500
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease
    display: flex
    align-items: center
    gap: 8px
    cursor: pointer

.btn:hover
    transform: scale(1.1)
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)

.btn:active
    transform: scale(0.8)


// This is the the code for the small settings btn in the header
.btn-settings
    background-color: var(--search-bar-background)
    color: var(--text-color)
    border-radius: 5px
    border: solid 1px #6d6d6d8e
    height: 25px
    width: 25px
    margin-left: auto
    margin-right: 10px
    padding: 0px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    svg
        transition: transform 0.2s
    svg:hover
        transform: rotate(90deg)

#btn-settings-id-svg-close
    display: none
    justify-content: center
    align-item: center

#btn-settings-id-svg-open
    display: flex
    justify-content: center
    align-item: center