@use "../color"

#popupMainInfoQuiz
    display: none
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    padding: 0
    width: 100vw
    height: 100vh
    background-color: var(--main-color-backg)
    backdrop-filter: blur(5px)
    z-index: 1001

#twoColSide
    display: flex
    position: relative
    margin-top: 135px
    height: calc(100% - 50px)

#cardInfoPopUp_MainBox
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 70%
    height: 70%
    border-radius: 10px
    border: solid 2px var(--header-top-color)
    background-color: var(--card-background-color)
    overflow-x: hidden
    text-align: left
    @media (max-width: 1100px)
        height: 100dvh

#cardInfoPopUp_MainBox::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 135px

    background-image: var(--bg-image-bg-card)
    background-size: cover
    background-position: center
    background-repeat: no-repeat

    z-index: 0

#cardInfoPopUp_imgFlag
    position: absolute
    height: 50px
    width: auto
    left: 50px
    top: 100px
    border: solid 2px var(--header-top-color)

.btn-exit
    background-color: var(--search-bar-background)
    color: var(--text-color)
    border-radius: 5px
    border: solid 1px #6d6d6d8e
    height: 25px
    width: 25px
    position: absolute
    top: 10px
    right: 10px
    padding: 0px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    svg
        transition: transform 0.2s
    svg:hover
        transform: rotate(90deg)

#cardInfoPopUp_title
    font-size: 25px
    margin-top: 20px
    margin-left: 50px
    padding-left: 0px
    text-align: left

#cardInfoPopUp_shortResume
    font-size: 16px
    margin-top: 20px
    margin-left: 50px
    padding-left: 0px
    text-align: left
    width: 80%
    min-width: 200px
    max-width: 700px

#cardInfoPopUp_longResume
    font-size: 12px
    margin-top: 20px
    margin-left: 50px
    padding-left: 0px
    text-align: left

#cardInfoPopUp_info_lenght
    font-size: 16px
    opacity: 0.6
    margin-top: 50px
    margin-left: 50px
    padding-left: 0px
    text-align: left

#cardInfoPopUp_listGameMode
    flex-shrink: 1
    margin: 0
    padding: 15px
    padding-left: 20px
    padding-right: 20px
    display: flex
    align-items: center
    flex-direction: column
    justify-content: top
    height: 100%
    width: auto
    background-color: var(--main-color-backg)
    border-left: solid 2px var(--header-top-color)
    gap: 20px
    .btn
        svg
            flex-shrink: 0
            margin-right: auto
        min-width: 230px
        width: 100%

#infoSide
    flex-grow: 1
    margin-top: 20px
    overflow: hidden
    height: 100%

@media (max-width: 1100px)
    #twoColSide
        flex-direction: column
        height: auto
        overflow-y: hidden 
    #infoSide
        height: auto
        flex-shrink: 0
    #cardInfoPopUp_listGameMode
        flex-shrink: 0
        height: auto
        width: calc( 100% - 40px)
        border-left: none
        border-top: solid 2px var(--header-top-color)
    #cardInfoPopUp_MainBox
        width: 100%
    #cardInfoPopUp_title, #cardInfoPopUp_shortResume, #cardInfoPopUp_longResume, #cardInfoPopUp_info_lenght
        padding-right: 50px
    
.warning
    display: none
    width: calc( 100% - 70px )
    height: auto
    background-color: var(--header-top-color)
    border-radius: 10px
    overflow: hidden
    margin-left: 50px
    margin-right: 20px
    .warnTitle
        width: 100%
        height: auto
        background-color: var(--red-outside)
        display: flex
        justify-content: left
        align-items: center
        gap: 5px
        color: var(--text-color)
        padding: 5px
    .warnExplain 
        text-align: left
        color: var(--text-color)
        font-size: small
        padding: 5px
    .invlolved 
        margin-top: 20px
        color: var(--text-color)
        .involvedList
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            padding: 5px
            .element
                display: flex
                justify-content: center
                align-items: center
                gap: 5px
                img
                    height: 15px
                    width: auto