@use "../color"

#settings
  display: none

#settings-menu
    display: flex    
    width: 100%
    #settings-content
        padding-top: 25px
        margin-left: auto
        margin-right: auto
        width: 700px
        padding-left: 15px
        padding-right: 15px
        padding-bottom: 50px
        h1, p , h3
            padding-left: 0px
        #warning-beta-settings
            border-left: solid 5px #cab33c
            padding-left: 10px
            margin-top: 25px
            span
                display: flex
                gap: 5px
                align-items: center
                color: #cab33c
            p
                text-align: left
                font-size: small

.switch
  position: relative
  height: 1.5rem
  width: 3rem
  cursor: pointer
  appearance: none
  -webkit-appearance: none
  border-radius: 9999px
  background-color: rgba(100, 116, 139, 0.377)
  transition: all .3s ease

.switch:checked
  background-color: var(--footer-contrib-color)

.switch::before 
  position: absolute
  content: ""
  left: calc(1.5rem - 1.6rem)
  top: calc(1.5rem - 1.6rem)
  display: block
  height: 1.6rem
  width: 1.6rem
  cursor: pointer
  border: 1px solid rgba(100, 116, 139, 0.527)
  border-radius: 9999px
  background-color: rgba(255, 255, 255, 1)
  box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327)
  transition: all .3s ease

.switch:hover::before
  box-shadow: 0 0 0px 8px rgba(0, 0, 0, .15)

.switch:checked:hover::before
  box-shadow: 0 0 0px 8px rgba(77, 175, 80, .15)

.switch:checked:before
  transform: translateX(100%)
  border-color: var(--footer-contrib-color)


.settings-line
    display: flex
    align-items: center
    justify-content: space-between
    p
      flex-grow: 1
      text-align: left
    input
      flex-shrink: 0

select, ::picker(select)
  appearance: base-select

selectedcontent
  display: flex
  align-items: center
  justify-content: center
  gap: 5px
  span
      flex-grow: 1

select
  color: var(--text-color)
  background-color: var(--card-background-color)
  border-radius: 10px
  border: 2px solid var(--header-top-color)
  transition: background-color 0.2s ease,border-color 0.2s ease
  padding: 5px
  cursor: pointer
  &:hover
      background-color: var(--header-top-color)
      border-color: var(--card-background-color)
  option
    display: flex
    align-items: center
    justify-content: center
    gap: 5px
    span
      flex-grow: 1
  option img, selectedcontent img
    max-height: 10px
    width: auto
    flex-shrink: 0
  &::picker(select)
    appearance: base-select



//verInfo&Control

#appVerControl
  color: var(--text-color)
  background-color: var(--card-background-color)
  border-radius: 10px
  border: 2px solid var(--header-top-color)
  height: auto
  padding: 10px
  .titleDivVerCtrl
    display: flex
    justify-content: left
    align-items: center
    gap: 7px
  .subText
    text-align: left
  .info
    margin-right: auto
  .lineInfo
    display: flex
    justify-content: left
    align-items: center
    gap: 15px
  a
    font-size: x-small
    opacity: 0.5

#geoDataVerControl
  color: var(--text-color)
  background-color: var(--card-background-color)
  border-radius: 10px
  border: 2px solid var(--header-top-color)
  height: auto
  padding: 10px
  .titleDivVerCtrl
    display: flex
    justify-content: left
    align-items: center
    gap: 7px
  .subText
    text-align: left
  .info
    margin-right: auto
  .lineInfo
    display: flex
    justify-content: left
    align-items: center
    gap: 15px
  a
    font-size: x-small
    opacity: 0.5
  #GeolicenseList
    margin-top: 10px 
    display: flex
    justify-content: center
    align-items: left
    flex-direction: column
    gap: 10px
    span
      font-size: small
      text-align: left