@use "../color"

:root
    --img-show: none

.card
    height: 200px
    border: 2px solid var(--header-top-color)
    background-color: var(--card-background-color)
    border-radius: 10px
    text-align: left
    position: relative

    //shadow
    box-shadow: inset 0px -15px 40px -40px var(--btn-color-outline)

    .flagCard
        margin-top: 20px
        margin-left: 20px
        height: 30px
        width: auto
    .titleCard
        text-align: left
        margin-left: 20px
        margin-right: 20px
    .exploreCard
        position: absolute
        display: flex
        justify-content: center
        align-items: center
        gap: 8px
        bottom: 20px
        left: 50%
        transform: translate(-50%, 0%)
        z-index: 80
        svg
            fill: var(--text-color)
    transition: border 0.3s ease, background 0.3s ease, box-shadow 0.3s ease

.card:hover
    cursor: pointer
    border: 2px solid var(--card-background-color)
    background-color: var(--header-top-color)
    box-shadow: inset 0px -70px 40px -30px var(--btn-color-outline)

.menuCards
    display: none
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    gap: 16px
    padding: 10px
    @media (max-width: 768px)
        padding-bottom: 70px
#card_all
    display: grid
#card_search
    margin-top: 10px
    padding: 0px
    padding-bottom: 70px